body {
   
    background-repeat: no-repeat;
    background-size: cover;
     ;
}
spline-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Pushes it behind everything else */
}
.Wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "Header Header"
    "Block1 Block1"
    "footer footer";
}
#Header {
    
    grid-area: Header;
    Height:4.6875rem;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items:center;
    color: white;
    h1{
        margin-left: 1.25rem;
    }
    li{
        display: inline; 
    }
    a{
        text-align: right ;
        text-decoration: underline;
        color: white;
        font-size: 1.57rem;
        padding: 1.57rem;
    }
    nav{
       margin-right: 12.5rem;

    }
    
}
.Block1 {
    grid-area: Block1;
    margin-top: 1.25rem;
    height: 31.25rem;
    margin-right: 0.625rem;
    justify-content: center;
    align-items: center;
    display: flex;  
}
.Block1 img {
   width:23.625rem;
   height:23.625rem;
}

.footer {
    grid-area: footer;
    height: 5.94rem;
    margin-top: 0.625rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: azure;
}
.Overview {
    margin-left: 6.25rem;
    width: fit-content;
    height:25rem;
    font-size: 1.125rem;
    font-weight: bold;
    box-shadow: 0.6rem 0.6rem 6.25rem rgba(255, 0, 64, 0.8);
    transition: box-shadow 0.5s ease-in;
   
    border-radius: 1.57rem;
    padding: 0.625rem;
    background-color: white;
    color: black;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "Overview Overview"
    "age1 age2"
    "uni1 uni2"
    "degree1 degree2"
    "year1 year2"
    ;
}
.Overview:hover{
    box-shadow: 0.3rem 0.3rem 3.125rem rgb(0, 200, 2550);
    cursor: pointer;
}
.Overview-heading{
    grid-area: Overview;
    text-align: center;
    margin-bottom: 3.125rem;
    color:rgb(0, 200, 255);
   
}
.age1 {
    grid-area: age1;
    margin-bottom: 3.125rem;
   

}
.age2 {
    grid-area: age2;
    margin-bottom: 3.125rem;
}
.uni1 {
    grid-area: uni1;
    margin-bottom: 3.125rem;
}
.uni2 {
    grid-area: uni2;
    margin-bottom: 3.125rem;
}
.degree1{
    grid-area: degree1;
    margin-bottom: 3.125rem;
}
.degree2{
    grid-area: degree2;
    margin-bottom: 3.125rem;
}
.year1{
    grid-area: year1;
    
}
.year2{
    grid-area: year2;
    
}
@media (max-width:480px) {
   img {
      width:7.7rem;
      height:7.7rem;
   }
   .Overview-heading,
   .age1,
   .age2,
   .uni1,
   .uni2,
   .degree1,
   .degree2 {
      margin-bottom:1rem;
   }
   #header {
      height:1.3rem;
   }
   a{
      font-size:0.5rem;
   }
   .Overview-heading{
      font-size:0.5rem;
   }
   
   
}




